@charset "utf-8";
.h1 {
	font-size: 24px;
}


.w3-bar-item {
	margin-top: 43px;	
}

.h99 {
    margin-top: 10px;
    font-size: xx-large;
}

.h88 {
    color: #000000;
    text-align: left;
    font-size: 14px;
    margin-left: 30%;
    letter-spacing: 0.5px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-right: 20%;
}


.imghead {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 14.28%;
  padding: 4px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
header1 {height:80px;}

.hirename {
    cursor: pointer;
}
