
#wb_header { height: 4px; }
#wb_header > .wb_cont_bg { background: rgba(255, 255, 255, 0.95) none repeat left top; background-size: auto auto; }
#wb_main { height: 996px; padding-bottom: 50px; }
#wb_main > .wb_cont_bg { background: rgba(255, 255, 255, 0.95) none repeat-x left top; background-size: auto auto; }
#wb_footer { height: 80px; }
#wb_footer > .wb_cont_bg { background: rgba(255, 255, 255, 0.95) none repeat-x left top; background-size: auto auto; }
body { background: #ffffff none repeat-x scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 1080px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 1030px; overflow: visible; min-height: 1080px; }
#wb_element_instance46 { top: 100px; left: 372px; min-width: 825px; width: 825px; min-height: 38px; height: 38px; display: block; z-index: 944; }
#wb_element_instance46 > ul { display: block; }
#wb_element_instance46 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance46, #wb_element_instance46 ul { text-align: right; }
#wb_element_instance46 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance46 li { margin: 0px 0px 0px 0px; }
#wb_element_instance46 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #514ceb; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance46 li.over > a, #wb_element_instance46 li:focus > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance46 li.active > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance46:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance46:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance46:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance47 { top: 100px; left: 0px; min-width: 1197px; width: 1197px; min-height: 38px; height: 38px; display: block; z-index: 946; }
#wb_element_instance47 > ul { display: block; }
#wb_element_instance47 ul { background: #165fcc none repeat left top; border: 1px none #000000; }
#wb_element_instance47, #wb_element_instance47 ul { text-align: right; }
#wb_element_instance47 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance47 li { margin: 0px 0px 0px 0px; }
#wb_element_instance47 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #f4f4f7; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance47 li.over > a, #wb_element_instance47 li:focus > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance47 li.active > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance47:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance47:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance47:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance48 { top: 30px; left: 30px; min-width: 218px; width: 218px; min-height: 45px; height: 45px; display: block; z-index: 743; }
#wb_element_instance48 img { width: 218px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance49 { top: 0px; left: 29px; min-width: 550px; width: 550px; min-height: 24px; height: 24px; display: block; z-index: 761; }
#wb_element_instance50 { top: 220px; left: 630px; min-width: 540px; width: 540px; min-height: 56px; height: 56px; display: block; z-index: 367; }
#wb_element_instance51 { top: 210px; left: 20px; min-width: 540px; width: 540px; min-height: 360px; height: 360px; display: block; z-index: 357; }
#wb_element_instance51 img { width: 540px; height: 360px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance52 { top: 154px; left: 0px; min-width: 1200px; width: 1200px; min-height: 646px; height: 646px; display: block; z-index: 255; }
#wb_element_instance52 > .wb_shp { background: rgba(255, 255, 255, 0.95) none repeat scroll left top; background-size: auto auto; border: 5px none #c0c0c0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 646px; }
#wb_element_instance53 { top: 328px; left: 630px; min-width: 540px; width: 540px; min-height: 234px; height: 234px; display: block; z-index: 363; }
#wb_element_instance54 { top: 34px; left: 610px; min-width: 590px; width: 590px; min-height: 38px; height: 38px; display: block; z-index: 332; }
#wb_element_instance55 { top: 650px; left: 20px; min-width: 1180px; width: 1180px; min-height: 56px; height: 56px; display: block; z-index: 320; }
#wb_element_instance56 { top: 740px; left: 20px; min-width: 1170px; width: 1170px; min-height: 156px; height: 156px; display: block; z-index: 368; }
#wb_element_instance57 { top: 916px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance58 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance49 p:last-child { margin-bottom: 0; }
#wb_element_instance50 p:last-child { margin-bottom: 0; }
#wb_element_instance53 p:last-child { margin-bottom: 0; }
#wb_element_instance54 p:last-child { margin-bottom: 0; }
#wb_element_instance55 p:last-child { margin-bottom: 0; }
#wb_element_instance56 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
