
#wb_header { height: 1px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 910px; padding-bottom: 30px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 80px; }
#wb_footer > .wb_cont_bg { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; }
body { background: #ffffff none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 991px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 961px; overflow: visible; min-height: 991px; }
#wb_element_instance74 { top: 100px; left: 372px; min-width: 825px; width: 825px; min-height: 38px; height: 38px; display: block; z-index: 944; }
#wb_element_instance74 > ul { display: block; }
#wb_element_instance74 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance74, #wb_element_instance74 ul { text-align: right; }
#wb_element_instance74 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance74 li { margin: 0px 0px 0px 0px; }
#wb_element_instance74 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #514ceb; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance74 li.over > a, #wb_element_instance74 li:focus > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance74 li.active > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance74:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance74:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance74:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance75 { top: 100px; left: 0px; min-width: 1197px; width: 1197px; min-height: 38px; height: 38px; display: block; z-index: 946; }
#wb_element_instance75 > ul { display: block; }
#wb_element_instance75 ul { background: #165fcc none repeat left top; border: 1px none #000000; }
#wb_element_instance75, #wb_element_instance75 ul { text-align: right; }
#wb_element_instance75 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance75 li { margin: 0px 0px 0px 0px; }
#wb_element_instance75 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #f4f4f7; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance75 li.over > a, #wb_element_instance75 li:focus > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance75 li.active > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance75:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance75:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance75:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance76 { top: 30px; left: 30px; min-width: 218px; width: 218px; min-height: 45px; height: 45px; display: block; z-index: 743; }
#wb_element_instance76 img { width: 218px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance77 { top: 0px; left: 29px; min-width: 550px; width: 550px; min-height: 24px; height: 24px; display: block; z-index: 761; }
#wb_element_instance78 { top: 30px; left: 740px; min-width: 390px; width: 390px; min-height: 38px; height: 38px; display: block; z-index: 332; }
#wb_element_instance79 { top: 260px; left: 0px; min-width: 1200px; width: 1200px; min-height: 590px; height: 590px; display: block; z-index: 147; }
#wb_element_instance79 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 590px; }
#wb_element_instance80 { top: 200px; left: 59px; min-width: 540px; width: 540px; min-height: 56px; height: 56px; display: block; z-index: 341; }
#wb_element_instance81 { top: 270px; left: 20px; min-width: 1110px; width: 1110px; min-height: 328px; height: 328px; display: block; z-index: 222; }
#wb_element_instance82 { top: 870px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance83 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance77 p:last-child { margin-bottom: 0; }
#wb_element_instance78 p:last-child { margin-bottom: 0; }
#wb_element_instance80 p:last-child { margin-bottom: 0; }
#wb_element_instance81 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
