
#wb_header { height: 1px; }
#wb_header > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_main { height: 910px; padding-bottom: 30px; }
#wb_main > .wb_cont_bg { background: transparent none repeat scroll left top; }
#wb_footer { height: 80px; }
#wb_footer > .wb_cont_bg { background: transparent url("gallery/vintage_footer.jpg") repeat scroll left top; }
body { background: #ffffff none no-repeat scroll center top; background-size: auto auto; }
.wb_sbg { background: transparent none repeat-x scroll left top; }
body, .wb_sbg { min-width: 1200px; min-height: 991px; }
.wb_cont_inner { width: 1200px; }
.wb_cont_bg { width: 1200px; margin-left: -600px; }
.root { height: 961px; overflow: visible; min-height: 991px; }
#wb_element_instance104 { top: 100px; left: 372px; min-width: 825px; width: 825px; min-height: 38px; height: 38px; display: block; z-index: 890; }
#wb_element_instance104 > ul { display: block; }
#wb_element_instance104 ul { background: transparent none repeat left top; border: 1px none #000000; }
#wb_element_instance104, #wb_element_instance104 ul { text-align: right; }
#wb_element_instance104 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance104 li { margin: 0px 0px 0px 0px; }
#wb_element_instance104 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #514ceb; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance104 li.over > a, #wb_element_instance104 li:focus > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance104 li.active > a { border: 0px none #000000; font: normal bold 16px Helvetica,Arial,sans-serif; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance104:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance104:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance104:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance105 { top: 100px; left: 0px; min-width: 1197px; width: 1197px; min-height: 38px; height: 38px; display: block; z-index: 892; }
#wb_element_instance105 > ul { display: block; }
#wb_element_instance105 ul { background: #165fcc none repeat left top; border: 1px none #000000; }
#wb_element_instance105, #wb_element_instance105 ul { text-align: right; }
#wb_element_instance105 ul ul { background: #699ce8 none repeat left top; }
#wb_element_instance105 li { margin: 0px 0px 0px 0px; }
#wb_element_instance105 li a { text-transform: none; border: 0px none #000000; padding: 10px 10px 10px 10px; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #f4f4f7; line-height: 18px; background: transparent none repeat left top; }
#wb_element_instance105 li.over > a, #wb_element_instance105 li:focus > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance105 li.active > a { border: 0px none #000000; font: normal bold 16px Comic Sans MS,Helvetica,Arial,Verdana,cursive; text-decoration: none; color: #ffe347; line-height: 18px; background: transparent none no-repeat center bottom; }
#wb_element_instance105:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance105:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance105:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance106 { top: 30px; left: 30px; min-width: 218px; width: 218px; min-height: 45px; height: 45px; display: block; z-index: 689; }
#wb_element_instance106 img { width: 218px; height: 45px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance107 { top: 0px; left: 29px; min-width: 550px; width: 550px; min-height: 24px; height: 24px; display: block; z-index: 707; }
#wb_element_instance108 { top: 30px; left: 740px; min-width: 390px; width: 390px; min-height: 38px; height: 38px; display: block; z-index: 296; }
#wb_element_instance109 { top: 260px; left: 0px; min-width: 1200px; width: 1200px; min-height: 590px; height: 590px; display: block; z-index: 141; }
#wb_element_instance109 > .wb_shp { background: #ffffff none repeat scroll left top; background-size: auto auto; border: 5px none #C0C0C0; opacity: 1; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 1200px; height: 590px; }
#wb_element_instance110 { top: 206px; left: 50px; min-width: 540px; width: 540px; min-height: 56px; height: 56px; display: block; z-index: 335; }
#wb_element_instance111 { top: 260px; left: 10px; min-width: 1146px; width: 1146px; min-height: 312px; height: 312px; display: block; z-index: 216; }
#wb_element_instance112 { top: 870px; left: 0px; display: block; z-index: 9000; }
#wb_element_instance113 { top: 44px; left: 0px; display: block; z-index: 9999; }


#wb_element_instance107 p:last-child { margin-bottom: 0; }
#wb_element_instance108 p:last-child { margin-bottom: 0; }
#wb_element_instance110 p:last-child { margin-bottom: 0; }
#wb_element_instance111 p:last-child { margin-bottom: 0; }


@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (max-width: 767px) {
}
